html, body{
    margin: 0%;
    padding: 0%;
    height: 100%;
    width: 100%;
    font-family: "Poppins", sans-serif;
    color: #cef3e8;
    background-color: #0F0F0F;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='400' height='400' viewBox='0 0 800 800'%3E%3Cg fill='none' stroke='%23107E70' stroke-width='1'%3E%3Cpath d='M769 229L1037 260.9M927 880L731 737 520 660 309 538 40 599 295 764 126.5 879.5 40 599-197 493 102 382-31 229 126.5 79.5-69-63'/%3E%3Cpath d='M-31 229L237 261 390 382 603 493 308.5 537.5 101.5 381.5M370 905L295 764'/%3E%3Cpath d='M520 660L578 842 731 737 840 599 603 493 520 660 295 764 309 538 390 382 539 269 769 229 577.5 41.5 370 105 295 -36 126.5 79.5 237 261 102 382 40 599 -69 737 127 880'/%3E%3Cpath d='M520-140L578.5 42.5 731-63M603 493L539 269 237 261 370 105M902 382L539 269M390 382L102 382'/%3E%3Cpath d='M-222 42L126.5 79.5 370 105 539 269 577.5 41.5 927 80 769 229 902 382 603 493 731 737M295-36L577.5 41.5M578 842L295 764M40-201L127 80M102 382L-261 269'/%3E%3C/g%3E%3Cg fill='%2300FFE8'%3E%3Ccircle cx='769' cy='229' r='5'/%3E%3Ccircle cx='539' cy='269' r='5'/%3E%3Ccircle cx='603' cy='493' r='5'/%3E%3Ccircle cx='731' cy='737' r='5'/%3E%3Ccircle cx='520' cy='660' r='5'/%3E%3Ccircle cx='309' cy='538' r='5'/%3E%3Ccircle cx='295' cy='764' r='5'/%3E%3Ccircle cx='40' cy='599' r='5'/%3E%3Ccircle cx='102' cy='382' r='5'/%3E%3Ccircle cx='127' cy='80' r='5'/%3E%3Ccircle cx='370' cy='105' r='5'/%3E%3Ccircle cx='578' cy='42' r='5'/%3E%3Ccircle cx='237' cy='261' r='5'/%3E%3Ccircle cx='390' cy='382' r='5'/%3E%3C/g%3E%3C/svg%3E");
}

/*
#17252a principal
#2b7a78 menu
#3aafa9 resaltar
#def2f1 texto
#feffff titulo

#163737
#88a590
#b3c1b4

#fgb17a anaranjado

font-family: Poppins, sans-serif;
transition: color .3s ease;

*/

nav {
    background-color: #013432;
    height: 50px;
    width: 100%;
    margin: 0%;
    position: fixed; /* Clava el nav en la parte superior */
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    padding: 0%;
    margin:0%;
    margin-left: 50px;
    height: 45px;
}

nav a img {
    padding: 0%;
    margin:0%;
    height: 45px;
    filter: invert(80%);
    transition: filter .3s ease;
}

nav a img:hover {
    filter: invert(100%);
}

nav ul {
    padding: 0%;
    margin:0%;
    width: 40%;
    margin-right: 30px;
    display: flex;
    align-self: center;
    justify-content: space-between;
}

nav ul li {
    display: inline;
    margin: 0%;
    padding: 0%;
}

nav ul li a {
    margin: 0%;
    padding: 0%;
    color: #cef3e8;
    text-decoration: none;
    font-size: 20px;
    transition: color .3s ease; /* Para una transición suave */
}

nav ul li a:hover {
    color: #71acac;
}

header {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.div_titulo {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100%;
    font-size: 25px;
}

.div_titulo h1 {
    margin: 0px;
    padding: 0%;
    font-weight: 700;
    font-style: normal;
    text-align: center;
}

.div_titulo h3 {
    margin: 5px;
    padding: 0%;
    font-weight: 400;
    font-style: normal;
    text-align: center;
}

header a {
    margin: 5px;
    padding: 8px;
    border-radius: 10px;
    border: 1px;
    box-shadow: #000000 2px 2px 5px;
    background-color: #4ad3aa;
    text-decoration: none;
    color: #041412;
    font-weight: 400;
    font-style: normal;
    text-align: center;
    font-size: 18px;
    transition: box-shadow, scale .3s ease;
}

header a:hover {
    box-shadow: #000000 5px 5px 5px;
    scale: 1.03;
}

.div_btn {
    display: flex;
    justify-content: center;
    align-items: center;
}

#SobreMi {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;

}

#SobreMi article {
    background-color: #0F0F0F;
    width: 95%;
    height: 88%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    margin: 0%;
    padding: 0%;
    margin-top: 50px;
}

#SobreMi article div h2 {
    font-weight: 700;
    font-size: 24px;
}

#SobreMi article div h3 {
    font-weight: 500;
    font-size: 20px;
}

#SobreMi article div p {
    font-weight: 200;
    font-size: 16px;
}

.div_info {
    width: 50%;
}

.div_foto {
    display: flex;
    justify-content: center;
    align-items: center;
}

#Habilidades {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Proyectos {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#Contacto {
    height: 100vh;
    margin: 0%;
    padding: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer {
    background: #013432;
    height: 50px;
    width: 100%;
    margin: 0%;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (max-width:1024px) {
    nav ul {
        width: 50%;
    }
}